@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
  font-family: 'Nova Square', cursive;
  background-color: #e8d0ec;
  text-align: center;
  margin: 0;
  padding: 0;
}


#quiz-container {
  margin: 50px auto;
  width: 500px;
  background: color #8c4dff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


h1 {
  color: #8c4dff;
  font-size: 28px;
  margin-bottom: 20px;
}


#timer {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}


#question {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}


#options {
  text-align: left;
  margin-bottom: 20px;
}


input[type="radio"] {
  margin-right: 10px;
}


.button {
  display: inline-block;
  background-color: #8c4dff;
  color: #8c4dff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}


.button:hover {
  background-color: #7b39d8;
}


#submit {
  margin-top: 20px;
}


#score {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}
